body{
    background-color: rgb(233, 220, 232);
    
    
    
    
}
.image-landingpage{
    background-image:url('./assets/videogame.jpg') ;
    border: rgb(46, 15, 38) solid 3px;
    border-radius: 5px ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left:150px;
    margin-right: 150px;
    padding: 150px;
}
.botonIngresar{
    color: rgb(238, 38, 151);
    border:rgb(46, 15, 38) solid;
    border-radius: 5px;
    cursor: pointer;
}
.botonIngresar > button:hover{
    background: #ccc;
} 
    

h1{
    color:rgb(39, 37, 37);
    

}
.landingPageApp{
    color:royalblue;
}